[Unit]
Description=mercure Bookkeeper
Documentation=https://mercure-imaging.org/docs
After=network.target postgresql.service
Requires=network.target postgresql.service

[Service]
Type=simple
WorkingDirectory=/opt/mercure/app
ExecStart=/opt/mercure/env/bin/python /opt/mercure/app/bookkeeper.py
ExecStartPost=/bin/sleep 2
Restart=on-failure
RestartSec=3
User=mercure

# Security hardening
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=strict
ProtectHome=true
ReadWritePaths=/opt/mercure/data /opt/mercure/config
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectControlGroups=true
RestrictRealtime=true
RestrictNamespaces=true
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
